<div class="search-form">
    <%= form_with(url: articles_path, method: :get, data: { turbo_frame: "search-results", turbo_action: "advance", controller: "search", action: "input->search#submit" }) do |form| %>
        <div class="search-bar">
            <div class="search-area-label-container">
                <%= form.label :query, "Search by article title", class: "search-label" %>
            </div>
            <div>
                <%= form.text_field :query, placeholder: "Search article", class: "search-area" %>
                <%= form.submit "Search", class: "search-button" %>
            </div>
        </div>
    <% end %>
</div>
<section class="searches">
    <article class="current-search-articles">
        <%= turbo_frame_tag "search-results" do %>
            <h2>Your search results</h2>
        <% end %>
    </article>
    <article class="trending-articles">
        <h2>Trending articles</h2>
    </article>
</section>